* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --salmao: #ff594e;
  --cinza: #484b57;
  --azulMarinho: #3b4157;
  --brancoCinza: #f5f5f5;
  --branco: #fff;
}

@font-face {
  font-family: effraBold;
  src: url(./asset/fonts/effra_std_bd-webfont.woff);
}
